*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 150px 150px 0px;
}
.notes h2{
    font-size: 35px;
}
.notes h2 img{
    width: 30px;
}
.notes button img{
    width: 25px;
}
.notes button{
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 170px;
    background-color: rgb(221, 168, 71);
    padding: 10px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.para{
    border-radius: 5px;
    margin-top: 20px;
    width: 400px;
    height: 130px;
    padding: 20px;
    margin: 10px;
    outline: none;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.para img{
    cursor: pointer;
    position: absolute;
    width: 15px;
    top: 5px;
    right:5px;
}
